- name: Create systemd override directory for getty@tty1
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/getty@tty1.service.d
    state: directory
    mode: "0755"

- name: Enable auto-login on tty1
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system/getty@tty1.service.d/override.conf
    mode: "0644"
    content: |
      [Service]
      ExecStart=
      ExecStart=-/usr/bin/agetty --autologin {{ ansible_facts.user_id }} --noclear %I $TERM

