- name: Download wallpaper
  ansible.builtin.get_url:
    url: "{{ theming.wallpaper }}"
    dest: "{{ dotfiles.config_dir }}/hypr/wallpaper.png"

- name: Blur wallpaper
  ansible.builtin.command:
    cmd: "magick {{ dotfiles.config_dir }}/hypr/wallpaper.png -blur 0x8 {{ dotfiles.config_dir }}/hypr/wallpaper-blurred.png"

- name: Create systemd override directory for getty@tty1
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/getty@tty1.service.d
    state: directory
    mode: "0755"

- name: Enable auto-login on tty1
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system/getty@tty1.service.d/override.conf
    mode: "0644"
    content: |
      [Service]
      ExecStart=
      ExecStart=-/usr/bin/agetty --autologin {{ ansible_facts.user_id }} --noclear %I $TERM

