- ansible.builtin.import_tasks: yay.yml
  when:
    - aur_packages is defined
    - aur_packages | length > 0

- name: Install AUR packages
  become: true
  become_user: "{{ aur.user }}"
  kewlfft.aur.aur:
    name: "{{ package.name }}"
    use: auto
    state: "{{ package.state | default('present') }}"
  loop: "{{ aur_packages }}"
  loop_control:
    loop_var: package
  when:
    - aur_packages is defined
    - aur_packages | length > 0
