- name: Ensure config dir '{{ dotfiles.config_dir }}' exists
  ansible.builtin.file:
    path: "{{ dotfiles.config_dir }}"
    state: directory
    mode: "0755"

- name: Sync dotfiles
  ansible.posix.synchronize:
    src: "{{ role_path }}/files/"
    dest: "{{ ansible_facts.user_dir }}"
    recursive: true
    delete: false
