- name: Ensure destination dir '{{ dest_dir }}' exists
  ansible.builtin.file:
    path: "{{ dest_dir }}"
    state: directory
    mode: "0755"

- name: Get all available configs
  ansible.builtin.find:
    paths: "{{ src_dir }}"
    file_type: any
    hidden: true
    recurse: false
  register: config_items

- name: Create symlink of files to '{{ dest_dir }}' directory
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ dest_dir }}/{{ item.path | basename }}"
    state: link
    force: true
    follow: false
  loop: "{{ config_items.files }}"

