configuration{
    modi: "drun";
    icon-theme: "Oranchelo";
    font: "JetBrainsMono Nerd Font Mono";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    sidebar-mode: false;
}

@theme "theme"
