- name: Create wallpaper directory
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/hypr/wallpapers"
    state: directory
    mode: "0755"

- name: Download wallpaper
  ansible.builtin.get_url:
    url: "{{ wallpaper.url }}"
    dest: "{{ wallpaper.dest }}"
  loop: "{{ theming.wallpapers }}"
  loop_control:
    loop_var: wallpaper

- name: Ensure GTK config directory exists
  ansible.builtin.file:
    path: "{{ dir }}"
    state: directory
    mode: "0755"
  become: true
  become_user: "{{ ansible_facts.user_id }}"
  loop:
    - "{{ theming.font.dir }}"
    - "{{ theming.cursor.dir }}"
  loop_control:
    loop_var: dir

- name: Set gtk theme
  become: true
  ansible.builtin.command:
    cmd: gsettings set org.gnome.desktop.interface gtk-theme "Adwaita-dark"

- name: Install '{{ theming.cursor.name }}' cursor
  become: true
  ansible.builtin.unarchive:
    src: "{{ theming.cursor.url }}"
    dest: "{{ theming.cursor.dir }}"
    remote_src: true

- name: Install '{{ theming.font.name }}' font
  ansible.builtin.unarchive:
    src: "{{ theming.font.url }}"
    dest: "{{ theming.font.dir }}"
    remote_src: true

- name: Rebuild font cache
  ansible.builtin.command:
    cmd: "fc-cache -fv"
