@define-color bg0	#1e1e2e;
@define-color bg1	#313244;
@define-color bg2	#45475a;
@define-color bg3	#585b70;
@define-color bg4	#6c7086;

@define-color fg	#cdd6f4;

@define-color accent0	#cba6f7;
@define-color accent1	#89b4fa;

@define-color red	#f38ba8;
@define-color orange	#fab387;
@define-color yellow	#f9e2af;
@define-color green	#a6e3a1;
@define-color aqua	#94e2d5;
@define-color blue	#89b4fa;
@define-color purple	#cba6f7;
@define-color pink	#f5c2e7;
