@define-color bg0	#32302f;
@define-color bg1	#454342;
@define-color bg2	#565453;
@define-color bg3	#656463;
@define-color bg4	#656463;

@define-color fg	#faf0f4;

@define-color accent0	#fbf1c7;
@define-color accent1	#84a298;

@define-color red	#b06f6f;
@define-color orange	#d6b09b;
@define-color yellow	#fbf1c7;
@define-color reen	#84a298;
@define-color aqua	#5ca092;
@define-color blue	#8fb6d4;
@define-color purple	#a05c78;
@define-color pink	#d692aa;

@define-color grey0	#454342;
@define-color grey1	#565453;
@define-color grey2	#656463;
