@define-color bg0	#333c43;
@define-color bg1	#3a464c;
@define-color bg2	#434f55;
@define-color bg3	#4d5960;
@define-color bg4	#555f66;

@define-color fg	#d3c6aa;

@define-color accent0	#d3c6aa;
@define-color accent1	#859289;

@define-color red	#e67e80;
@define-color orange	#e69875;
@define-color yellow	#dbbc7f;
@define-color green	#a7c080;
@define-color aqua	#83c092;
@define-color blue	#7fbbb3;
@define-color purple	#d699b6;
@define-color pink	#d699b6;
