- name: "Create mount point for {{ base.dual_boot.secondary.name }} esp ({{ base.dual_boot.secondary.mount_point }})"
  become: true
  ansible.builtin.file:
    path: "{{ base.dual_boot.secondary.mount_point }}"
    state: directory
    mode: "0755"

- name: "Mount {{ base.dual_boot.secondary.name }} esp into {{ base.dual_boot.primary.name }}"
  become: true
  ansible.posix.mount:
    path: "{{ base.dual_boot.secondary.mount_point }}"
    src: "{{ base.dual_boot.secondary.esp }}"
    fstype: "{{ base.dual_boot.secondary.fstype }}"
    state: mounted

- name: "Copy {{ base.dual_boot.secondary.mount_point }}/{{ base.dual_boot.secondary.sub_path }} to {{ base.dual_boot.primary.mount_point }}"
  become: true
  ansible.builtin.copy:
    src: "{{ base.dual_boot.secondary.mount_point }}/{{ base.dual_boot.secondary.sub_path }}"
    dest: "{{ base.dual_boot.primary.mount_point }}"
    remote_src: true
    mode: '0644'

- name: Create boot loader entry for windows
  become: true
  ansible.builtin.copy:
    dest: "{{ base.dual_boot.primary.bootloader.entry_dir }}/{{ base.dual_boot.secondary.name | lower }}.conf"
    content: |
      title {{ base.dual_boot.secondary.name }}
      efi {{ base.dual_boot.secondary.bootloader.file }}
