- name: Install base packages
  ansible.builtin.include_role:
    name: packages
  vars:
    packages: "{{ base.packages }}"

- name: Enable base system services
  ansible.builtin.include_role:
    name: services
  vars:
    services: "{{ base.services }}"

