@import "colors.css";

.control-center {
  background: @bg0;
  color: @fg;
  box-shadow: 0 4px 8px 2px @bg0;
}

.control-center *, 
.control-center *:focus {
    outline: none;
}

.control-center scrollbar slider {
  background: transparent;
}

.notification {
  background: @bg0;
  border: 2px solid @bg1;
  color: @fg;
  padding: 5px;
}

.notification:hover {
  border: 2px solid @accent0;
  transition: 200ms ease-in-out;
}

.notification > box {
  background: transparent;
}

.notification-content {
  padding: 5px;
}

.notification-content:hover {
  color: @fg;
  background: transparent;
}

.notification-row:hover {
  background: transparent;
}

.notification-group {
  background: transparent;
  transition: opacity 200ms ease-in-out;
}

.notification-group:focus {
  background-color: transparent;
}

.close-button,
.notification-group-buttons button {
  background: @bg1;
  color: @fg;
}

.close-button:hover,
.notification-group-buttons button:hover {
  background: @bg1;
  color: @accent0;
}

.notification-group.collapsed .close-button {
  margin: 15px 20px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  color: @accent0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body,
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  color: @fg;
}


/* Do not disturb + slider */
.widget-dnd > label {
  color: @fg;
}

.widget-dnd > switch {
  background: @bg1;
  border-radius: 25px;
}

.widget-dnd > switch:checked {
  background: @accent1;
}

.widget-dnd > switch slider {
  background: @fg;
}

.widget-dnd > switch:checked slider {
  background: @bg0;
}

/* Media player */
.widget-mpris {
  background: transparent;
}

.widget-mpris-player {
  padding: 0px;
  margin: 12px;
}

.widget-mpris-album-art {
  border-radius: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: @accent0;
}

.widget-mpris-subtitle {
  font-size: 0.9rem;
  color: @fg;
}

.widget-mpris-controls {
  margin-top: 12px;
}

.widget-mpris > box {
  margin: 8px;
}

.widget-mpris > box > button,
.widget-mpris .widget-mpris-player .mpris-overlay > box > button {
  background: transparent;
  color: @fg;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  color: @accent0;
}

.widget-mpris > box > button:disabled {
  opacity: 0.5;
}
