/* vim:fileencoding=utf-8:foldmethod=marker
*/

@define-color light-primary 	#fbf1c7;
@define-color light-secondary 	#84A298;
@define-color light-tertiary	#D0DEC8;
@define-color dark-primary 	#32302f;
@define-color dark-secondary 	#3c3836;

/* Define colors */ /* {{{ */
@define-color background  rgba(107, 99, 93, 0.75);
/* @define-color background  #151520; */
@define-color warning     #f38ba8;
@define-color caution     #45475a;
@define-color performance #f5c2e7;
@define-color audio       #cba6f7;
@define-color misc        #94e2d5;
@define-color date        #a6e3a1;
@define-color work        #b4befe;
@define-color window      #b4befe;
@define-color resize      #eba0ac;
@define-color process     #89b4fa;
/* }}} */

/* Reset all styles */ /* {{{ */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
} /* }}} */

/* Main bar keyframes */ /* {{{ */
/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @caution;
  }
} /* }}} */

/* Main bar defaults */ /* {{{ */
#waybar.main {
  /* background: transparent; */
  background: transparent;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;
  font-weight: 500;
}

.modules-center {
  border: 2px solid @light-primary;
  border-radius: 100px;
  padding: 2px 4px;
}

#waybar.main button {
  font-family: JetBrains Mono Nerd Font;
  font-size: 10pt;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
} /* }}} */

/* Main bar modules */ /* {{{ */
#waybar.main #network,
#waybar.main #battery,
#waybar.main #clock,
#waybar.main #pulseaudio,
#waybar.main #window,
#waybar.main #disk {
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 4px;
  padding-top: 4px;
  background: transparent;
}

/* }}} */

/* Module colors */ /* {{{ */
#waybar.main #network,
#waybar.main #pulseaudio,
#waybar.main #battery,
#waybar.main #clock {
  color: @light-primary;
}

#waybar.main #network.info {
  padding-right: 10px;
  padding-left: 10px;
  color: @light-primary;
  background: transparent;
}

#waybar.main #network.info.wifi.normal,
#waybar.main #network.info.ethernet {
  color: @light-primary;
  padding-right: 15px;
}

#waybar.main #network.info.wifi {
  color: @primary-light;
  padding-right: 15px;
} /* }}} */

/* Submap */ /* {{{ */
#waybar.main #submap.󰲏 {
  color: @resize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.main #submap. {
  color: @date;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}
/* }}} */

/* Main bar warnings */ /* {{{ */
#waybar.main #pulseaudio.output.muted,
#waybar.main #pulseaudio.input.source-muted {
  color: @caution;
}

#waybar.main #battery.warning.discharging {
  color: @warning;
} /* }}} */

/* Workspace */ /* {{{ */
/* Default workspace settings */
#waybar.main #workspaces button {
  color: @caution;
  background: @light-secondary;
  border: 1.5px solid transparent;
  padding-left: 6pt;
  padding-right: 6pt;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.25s ease;
}

/* Focused workspace */
#waybar.main #workspaces button.visible {
  background: @light-secondary;
  color: @dark-primary;
}

/* Focused workspace & monitor */
#waybar.main #workspaces button.active {
  background: @light-primary;
  color: @dark-primary;
}

/* Style when cursor is on the button */
#waybar.main #workspaces button:hover {
  background: @light-secondary;
  color: @dark-primary;
}

/* Special workplace animation */
#waybar.main #workspaces button.special.active {
  background: @light-primary;
  color: @dark-primary;
  transition: all 0s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
} /* }}} */

/* Custom slashes as spacers */ /* {{{ */
#waybar.main #custom-spacer {
  font-size: 10pt;
  font-weight: bold;
  color: @light-primary;
  background: transparent;
}

#waybar.main #custom-shutdown,
#waybar.main #custom-status {
  color: @light-primary;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 12px;
}
/* }}} */

/* Custom tray icon */ /* {{{ */
#waybar.main #custom-trayicon {
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  color: @process;
  background: transparent;
  padding-right: 6pt;
  padding-left: 2pt;
}
/* }}} */

/* Tooltip */ /* {{{ */
tooltip {
  background: @dark-primary;
  border: 3px solid @caution;
  border-radius: 8px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font";
}

#waybar.main #tray menu {
  background: @background;
  border: 3px solid @caution;
  border-radius: 8px;
} /* }}} */

/* indicator bar battery module */ /* {{{ */

/* Set defaults for indicator bar */
#waybar.indicator {
  font-size: 27px;
  /* This makes indicator thicker */
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

